<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librerest - Donate</title>
    <style>
        body {
            background: #151515;
            color: navajowhite;
            max-width: 600px;
            margin: auto;
            padding: 0 16px;
            margin-bottom: 500px;
            scrollbar-color: gray #151515;
            font-family: sans-serif;
        }

        a {
            color: #888;
            text-decoration: none;
        }

        pre {
            color: #fff;
            margin-bottom: 2rem;
        }
    </style>
</head>

<body>
    <h1>Donate</h1>
    <h2>Monero</h2>
    <p>The best and only way to donate is by sending Monero(XMR) to the following address:</p>
    <pre>44nD75gQkWu3dtSmdbkLM951sYo9nz3XGe7oNZsxmCffAhmBJFY5ci5geSqsxJaZsLFS6CVEBV5UjM44XaskVv6E5Yr6rNJ</pre>
    <img src="/static/xmr.png" alt="XMR Address"><br>
    <a href="/">&#8592; Go back</a>
</body>

</html>